*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	min-height: 100vh;
	background-color: rgb(26, 23, 23);
	font-family: "Satisfy", cursive;
	margin: 0;
	padding: 0;
}

.newsHeader {
	width: 70%;
	margin: auto;
	background-color: white;
	text-align: center;
	padding: 5px;
}

.newsBody {
	width: 70%;
	min-height: 100vh;
	margin: auto;
	background-color: white;
	display: grid;
	grid-template-columns: 45% 45%;
	grid-auto-rows: max-content;
	justify-content: space-around;
}

.card {
	border-radius: 1rem;
	box-shadow: 3px 3px 0 1px white;
	border: white 2px solid;
	padding: 5px;
	margin: 10px 0;
}

h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.newsBody {
		grid-template-columns: 90%;
	}

	h1,
	h2 {
		font-size: medium;
	}

	p {
		font-size: small;
	}

	.newsBody,
	.newsHeader {
		width: 100%;
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	h1,
	h2 {
		font-size: medium;
	}

	p {
		font-size: normal;
	}

	.newsBody,
	.newsHeader {
		width: 100%;
	}
}
