*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.25%;
}

body {
	font-family: "Merriweather Sans", sans-serif;
	font-size: 1.5rem;
	box-sizing: border-box;
	min-height: 100vh;
}

.nav {
	background-color: rgb(36, 134, 118);
	display: flex;
	justify-content: center;
	padding: 20px 0;
}

.searchBar {
	width: 40%;
	padding: 10px 5px;
	border-radius: 2rem;
	outline: none;
}

.fa-search {
	position: absolute;
	top: 28px;
	right: 31%;
	font-size: 15px;
}

.header {
	width: 70%;
	margin: auto;
}

h3 {
	padding: 10px 0;
	text-align: center;
}

.searchResults {
	width: 70%;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.albumCard {
	width: 15%;
	background-color: #a4cbd4;
	margin: 10px;
	text-align: center;
	min-height: 10vh;
	padding: 5px;
	border-radius: 0.5rem;
}

@media screen and (max-width: 415px) {
	.searchResults {
		width: 100%;
	}

	.albumCard {
		width: 25%;
	}
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
	.searchResults {
		width: 100%;
	}

	.albumCard {
		width: 25%;
	}
}
